[submodule "FeatherEngine/vendor/spdlog"]
	path = FeatherEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "glfw"]
	path = glfw
	url = https://github.com/TheCherno/glfw
[submodule "FeatherEngine/vendor/glfw"]
	path = FeatherEngine/vendor/glfw
	url = https://github.com/TheCherno/glfw
